venv
__env__
*.pyc
__pycache__/
.env
instance/

.pytest_cache/
.coverage
htmlcov/

*.egg-info/

node_modules
docs_original

.ideas
.vscode/settings.json

src/assets/images/featured-images/**
src/assets/images/gallery/**
src/assets/images/page-images/**
gallery.json

bin/metalsmith*

foo/
base_case.js