venv
__env__
*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

*.egg-info/

node_modules

.ideas

src/assets/images/featured-images/**
src/assets/images/gallery/**
src/assets/images/page-images/**
gallery.json

