<hr>

<footer class="text-sm py-4 md:container md:mx-auto md:px-8">
<a href='https://ko-fi.com/A67610WU' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://cdn.ko-fi.com/cdn/kofi2.png?v=3' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>

{{> analytics }}
</footer>
<script src="/assets/js/jquery.slim.min.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/navigation.js"></script>
