<header class="static ">
    <div class="text-lg bg-slate-700 h-auto drop-shadow-xl">
        <nav class="p-4" aria-label="Main"><ul>
            {{#each navigation}}
            <li class="inline mb-0 mr-3 font-smallcaps font-medium"><a {{#isCurrent}}aria-current="page" {{/isCurrent}}class="{{#isCurrent}}text-slate-400{{else}}text-slate-300{{/isCurrent}}  no-underline" href="{{ url }}">{{ name }}</a></li>
            {{/each}}
        </ul></nav>
    </div>
    {{#if breadcrumbs }}{{> breadcrumbs }}{{/if}}
</header>