<div class="widgets-{{position}}">
{{#each widgets}}
    {{#ifEquals ../position comparison=position}}
        {{> (getWidgetPartial @key) class=position titletag=titletag}}
    {{/ifEquals}}
{{/each}}
</div>
