{{#if image}}
<style>
    .page-header {
        background-image: url('/assets/images/page-images/{{image.slug}}')
    }
</style>
{{/if}}
<header class="page-header mb-2 p-2 md:p-4 lg:p-8 bg-slate-700 h-50 md:h-132 lg:h-159 xl:h-202 2xl:h-244">
    <h1 class="text-slate-300">{{ header }}</h1>
    <p class="max-w-prose mb-2 text-slate-300 border-b">{{ description }}</p>
</header>