@tailwind base;

@layer base {
  h1, h2, h3 {
    @apply font-bold py-2 text-slate-900 dark:text-slate-200 font-serif;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-2xl;
  }
  a {
    @apply text-slate-800 dark:text-slate-500 underline;
  }

  a:hover, a:focus,a:active {
    @apply dark:text-slate-300 text-slate-500;
  }
}

@tailwind components;
@tailwind utilities;

@layer utilities {
    .font-smallcaps {
        font-variant:  small-caps;
    }
}


/*
 *  Navigation-specific CSS
 */
#js-paper-window.tilt {
    overflow: hidden;
    pointer-events: none;
}
#js-paper-window.tilt #js-paper-front {
    transform: rotate(10deg) translateZ(0);
}

#js-paper-front {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  transform-origin: center 70%;
  transition: all 0.3s ease;
}

.js-menu-close:before {
  transform: translateY(-50%) rotate(45deg);
}
.js-menu-close:after {
  transform: translateY(-50%) rotate(-45deg);
}

.no-js #js-paper-window {
  @apply static;
}

.no-js #js-paper-back {
  @apply static h-auto text-lg;
}

.no-js #js-paper-back nav a {
  @apply inline mb-0 mr-3;
}

.no-js #js-paper-back nav {
  @apply p-4;
}
