{{> head }}

<body class="{{classify bodyClasses }}">
{{> navigation }}

<main> 

{{> page-header }}

{{#if features.sidebar}}
<div class="content-wrapper">
{{/if}}
    <section class="content">
      {{> (getPostsPartial postTemplate) class=listClass posts=posts}} 
    
    {{> widgets position="bottom"}}
    </section>
    {{#if features.sidebar}}
    <aside class="sidebar">
      {{> widgets position="sidebar"}}
    </aside>
    
</div>
{{/if}}
</main>

{{> footer }}

    </body>
</html>
