<ul class="post-list {{class}}">
  {{#each posts }}
    <li class="post-item max-w-prose mb-4 {{#unless @last}}pb-2 border-b-4 border-double border-slate-500 dark:border-slate-400{{/unless}}">
          <h3>{{ title }} <small class="text-lg text-slate-500 dark:text-slate-400 font-normal">({{formatDate pubdate }})</small></h3>
          {{{ contents }}}
        </li>
  {{/each }}
</ul>