{{> head }}

<body>

 {{> navigation }}

<main class="md:container md:mx-auto md:px-8">

    {{{ contents }}}

</main>

{{> footer }}

</div><!-- /paper-window -->
</div><!-- /paper-front -->
    </body>
</html>
