{{> head }}

<body class="{{classify bodyClasses }}">

 {{> navigation }}

<main>
   {{> page-header }}

<section class="content">
    {{> gallery gallery=collections.gallery id='js-gallery'}}
</section>

</main>

{{> footer }}
<script>
$(function() {
    lightGallery(document.getElementById('js-gallery'), {
        selector: '.js-item',
        thumbnail: true,
        download: false,
        plugins: [lgThumbnail, lgZoom],
    });
});
</script>
    </body>
</html>
