{{> head }}

<body class="{{classify bodyClasses }}">

 {{> navigation }}

<main>
   {{> pageHeader }}

{{#if features.sidebar}}
<div class="content-wrapper">
{{/if}}
    <article class="content">
      {{{ contents }}}
      
      {{> widgets position="bottom"}}
    </article> <!-- End of column -->

    {{#if features.sidebar}}
    <aside class="sidebar">
      {{> widgets position="sidebar"}}
    </aside>
    
</div>
{{/if}}

</main>

{{> footer }}

</script>
    </body>
</html>
