<!doctype html>
<html class="no-js bg-repeat bg-light dark:bg-dark text-slate-500 dark:text-slate-400 font-sans font-light text-lg" lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>MelindreaMakes: {art, words, thoughts, code}</title>
        <meta name="description" content="Single page with biography and links">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&family=Playfair+Display:ital,wght@0,400;0,600;0,900;1,400;1,600;1,900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
      <div class="md:container md:mx-auto md:px-8">
        <h1>Melindrea <small class="font-smallcaps text-base text-slate-500 dark:text-slate-400 font-semibold"> aka: Marie Hogebrandt, Antonius M., Antonius Marie</small></h1>

        <img class="max-w-xs rounded-3xl shadow-lg" width="1000" height="1000" src="{{ url_for('static', filename='images/square-portrait.jpg') }}" alt="Portrait of me with a braided updo, in a vintage style">
        <h2>Presence</h2>
        <ul class="list-disc list-inside px-4">
            <li><a href="https://keybase.io/melindrea">Keybase: melindrea</a></li>
            <li><a href="https://twitter.com/melindrea">Twitter: melindrea</a></li>
            <li><a href="https://www.instagram.com/melindrea82/">Instagram: melindrea83</a></li>
            <li><a href="https://github.com/melindrea">Github: melindrea</a></li>
            <li><a href="https://ko-fi.com/melindrea">Ko-fi: melindrea</a></li>
            <li><a href="https://melindrea.redbubble.com">Redbubble: melindrea</a></li>
            <li><a href="https://discordapp.com/users/529046927321464843">Discord: melindrea</a></li>
            <li><a href="https://www.pinterest.se/melindrea82">Pinterest: melindrea82</a></li>
        </ul>

        <h3>Mastodon</h3>
        <ul class="list-disc list-inside px-4">
            <li>I am <a href="https://wandering.shop/@melindrea">@melindrea@wandering.shop (primary)</a></li>
            <li>I am <a href="https://queer.party/@melindrea">@melindrea@queer.party</a></li>
            <li>I am <a href="https://mastodon.social/@melindrea">@melindrea@mastodon.social</a></li>
            <li>I am <a href="https://awoo.space/@melindrea">@melindrea@awoo.space</a></li>
        </ul>

        <h2>Works</h2>
        <div class="columns-3">
        <div class="twitter-container"><a class="twitter-timeline" data-width="400" data-height="500" data-theme="dark" href="https://twitter.com/melindrea?ref_src=twsrc%5Etfw">Tweets by melindrea</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>

        <div class="redbubble-container"><script type="text/javascript" src="https://www.redbubble.com/assets/external_portfolio.js"></script>
<script id="rb-xzfcxvzx" type="text/javascript">new RBExternalPortfolio('www.redbubble.com', 'melindrea', 2, 2).renderIframe();</script></div>

      <div class="kofi-container"><iframe id='kofiframe' src='https://ko-fi.com/melindrea/?hidefeed=true&widget=true&embed=true&preview=true' style='border:none;width:100%;padding:4px;background:#f9f9f9;' height='712' title='melindrea'></iframe></div>

      </div>

        <hr>

        <footer class="text-sm py-4">
          <p>Thank you to <a href="https://cdn.ampproject.org/c/s/ryanmaynard.co/mastodon-keybase">Ryan Maynard</a> for the inspiration/guide</p>
          <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
          <script>
              (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
              function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
              e=o.createElement(i);r=o.getElementsByTagName(i)[0];
              e.src='//www.google-analytics.com/analytics.js';
              r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
              ga('create','UA-42118135-5','auto');ga('send','pageview');
          </script>
        </footer>
        </div>
    </body>
</html>
